SSPV/SharedLibraries/Helpers/TecnoRed/TecnoRed/Service References/TecnoRedService/AgendaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://web.tecno-red.com.ar/AgendaService" name="AgendaService" targetNamespace="http://web.tecno-red.com.ar/AgendaService" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema targetNamespace="http://web.tecno-red.com.ar/AgendaService" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="invocar" type="tns:invocar" />
      <xs:element name="invocarResponse" type="tns:invocarResponse" />
      <xs:element name="nodoWsAgenda" type="tns:nodoWsAgenda" />
      <xs:complexType name="invocar">
        <xs:sequence>
          <xs:element minOccurs="0" name="request" type="tns:nodoWsAgenda" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="nodoWsAgenda">
        <xs:sequence>
          <xs:any namespace="##other" processContents="skip" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:nodoWsAgenda" />
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="skip" />
      </xs:complexType>
      <xs:complexType name="invocarResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:nodoWsAgenda" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="AgendaService_invocarResponse">
    <part name="invocarResponse" element="tns:invocarResponse" />
  </message>
  <message name="AgendaService_invocar">
    <part name="invocar" element="tns:invocar" />
  </message>
  <portType name="AgendaService">
    <operation name="invocar" parameterOrder="invocar">
      <input message="tns:AgendaService_invocar" />
      <output message="tns:AgendaService_invocarResponse" />
    </operation>
  </portType>
  <binding name="AgendaServiceBinding" type="tns:AgendaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="invocar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AgendaService">
    <port name="AgendaService" binding="tns:AgendaServiceBinding">
      <soap:address location="http://triki:8080/app2app/agenda" />
    </port>
  </service>
</definitions>